In [4]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv('../../data/titanic_train.csv')
test = pd.read_csv('../../data/titanic_test.csv')

Сначала выделим из имени все загаловки
Там встретятся следующие варианты:

train:

- Capt
- Col
- Countess
- Don
- Dr
- Jonkheer
- Lady
- Major
- Master
- Miss
- Mlle (французское обращение для незамужней женщины) значит можно заменить на Miss
- Mme (можно заменить на Mrs)
- Mr
- Mrs
- Ms (можно заменить на Mrs)
- Rev
- Sir

In [6]:
# Выведем все заголовки в именах в отдельный столбец

train['Title'] = train.Name.str.extract('([A-Za-z]+)\.', expand=False)
test['Title'] = test.Name.str.extract('([A-Za-z]+)\.', expand=False)

In [11]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Mrs
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Mrs
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Miss
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Mr
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [26]:
# строчки, в которых пропущен столбец 'Age'
# в последующем заполним пропущенные значения с помощью столбца 'Title'
# будем находить средний возраст для каждого значения столбца 'Title' и добавим этот средний возраст вместо пропущенного значения

train[pd.isnull(train.Age)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Mr
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Mrs
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Mr
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Miss
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,Mr
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Miss
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Mr
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Mr
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss

In [32]:
train[pd.isnull(train.Cabin)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Mr
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Miss
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Mr
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Mr
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Master
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Mr
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Mrs
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Rev
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Miss
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Mr

In [33]:
train[pd.isnull(train.Embarked)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
61,62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,NaN,Miss
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0,B28,NaN,Mrs

In [35]:
test[pd.isnull(test.Age)]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S,Mr
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S,Mrs
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,Mr
33,925,3,"Johnston, Mrs. Andrew G (Elizabeth Lily"" Watson)""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Mrs
36,928,3,"Roth, Miss. Sarah A",female,NaN,0,0,342712,8.0500,NaN,S,Miss
...,...,...,...,...,...,...,...,...,...,...,...,...
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q,Miss
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q,Miss
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,Mr
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,Mr
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,Master

In [37]:
test[pd.isnull(test.Cabin)]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,Mr
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,Mrs
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,Mr
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,Mr
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,Mrs
...,...,...,...,...,...,...,...,...,...,...,...,...
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,Miss
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S,Mr
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,Mr
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S,Mr
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C,Master

In [48]:
test[pd.isnull(test.Fare)]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
152,1044,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S,1

In [39]:
train.Title.value_counts()

Mr          517
Miss        182
Mrs         125
Master       40
Dr            7
Rev           6
Major         2
Mlle          2
Col           2
Countess      1
Capt          1
Lady          1
Ms            1
Don           1
Jonkheer      1
Sir           1
Mme           1
Name: Title, dtype: int64

In [40]:
test.Title.value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Col         2
Rev         2
Ms          1
Dona        1
Dr          1
Name: Title, dtype: int64

In [41]:
# Объединим некоторые редко используемые заголовки

train['Title'] = train['Title'].replace('Mme', 'Mrs')
train['Title'] = train['Title'].replace('Mlle', 'Miss')
train['Title'] = train['Title'].replace('Lady', 'Ms')
train['Title'] = train['Title'].replace('Countess', 'Ms')

train['Title'] = train['Title'].replace('Capt', 'Sir')
train['Title'] = train['Title'].replace('Col', 'Sir')
train['Title'] = train['Title'].replace('Don', 'Sir')
train['Title'] = train['Title'].replace('Jonkheer', 'Sir')
train['Title'] = train['Title'].replace('Major', 'Sir')
train['Title'] = train['Title'].replace('Rev', 'Sir')

for i in range(len(train)):
    if train['Title'][i] == 'Dr' and train['Sex'][i] == 'male':
        train['Title'][i] = train['Title'][i].replace('Dr', 'Sir')

for i in range(len(train)):
    if train['Title'][i] == 'Dr' and train['Sex'][i] == 'female':
        train['Title'][i] = train['Title'][i].replace('Dr', 'Ms')
        

        

        
        
test['Title'] = test['Title'].replace('Mme', 'Mrs')
test['Title'] = test['Title'].replace('Mlle', 'Miss')
test['Title'] = test['Title'].replace('Lady', 'Ms')
test['Title'] = test['Title'].replace('Countess', 'Ms')
test['Title'] = test['Title'].replace('Dona', 'Ms')

test['Title'] = test['Title'].replace('Capt', 'Sir')
test['Title'] = test['Title'].replace('Col', 'Sir')
test['Title'] = test['Title'].replace('Don', 'Sir')
test['Title'] = test['Title'].replace('Jonkheer', 'Sir')
test['Title'] = test['Title'].replace('Major', 'Sir')
test['Title'] = test['Title'].replace('Rev', 'Sir')

for i in range(len(test)):
    if test['Title'][i] == 'Dr' and test['Sex'][i] == 'male':
        test['Title'][i] = test['Title'][i].replace('Dr', 'Sir')

for i in range(len(test)):
    if test['Title'][i] == 'Dr' and test['Sex'][i] == 'female':
        test['Title'][i] = test['Title'][i].replace('Dr', 'Ms')

In [42]:
train.Title.value_counts()

Mr        517
Miss      184
Mrs       126
Master     40
Sir        20
Ms          4
Name: Title, dtype: int64

In [43]:
test.Title.value_counts()

Mr        240
Miss       78
Mrs        72
Master     21
Sir         5
Ms          2
Name: Title, dtype: int64

In [44]:
# сделаем вместо названий цифру, чтобы сеть могла обучаться
mapping = {'Mr': 1,  'Miss': 2, 'Mrs': 3, 'Master': 4, 'Sir': 5, 'Ms': 6}

train['Title'] = train['Title'].map(mapping)
test['Title'] = test['Title'].map(mapping)

In [7]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,5
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1

In [45]:
# для тех, у кого не указан возраст, заполним значением, которое является средним для их категории по заголовку 'Title'

for n in range(1, 7):
    for i in range(len(train)):
        if train['Title'][i] == n:
            if pd.isnull(train.Age[i]):
                train['Age'][i] = train[train.Title == n]['Age'].mean()

for n in range(1, 7):
    for i in range(len(test)):
        if test['Title'][i] == n:
            if pd.isnull(test.Age[i]):
                test['Age'][i] = test[test.Title == n]['Age'].mean()

In [46]:
train

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,1,0,3,"Braund, Mr. Owen Harris",male,22.000000,1,0,A/5 21171,7.2500,NaN,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.000000,1,0,PC 17599,71.2833,C85,C,3
2,3,1,3,"Heikkinen, Miss. Laina",female,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,2
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S,3
4,5,0,3,"Allen, Mr. William Henry",male,35.000000,0,0,373450,8.0500,NaN,S,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.000000,0,0,211536,13.0000,NaN,S,5
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S,2
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,21.804054,1,2,W./C. 6607,23.4500,NaN,S,2
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.000000,0,0,370376,7.7500,NaN,Q,1

In [47]:
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title
0,892,3,"Kelly, Mr. James",male,34.500000,0,0,330911,7.8292,NaN,Q,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.000000,1,0,363272,7.0000,NaN,S,3
2,894,2,"Myles, Mr. Thomas Francis",male,62.000000,0,0,240276,9.6875,NaN,Q,1
3,895,3,"Wirz, Mr. Albert",male,27.000000,0,0,315154,8.6625,NaN,S,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.000000,1,1,3101298,12.2875,NaN,S,3
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,3,"Spector, Mr. Woolf",male,32.000000,0,0,A.5. 3236,8.0500,NaN,S,1
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.000000,0,0,PC 17758,108.9000,C105,C,6
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S,1
416,1308,3,"Ware, Mr. Frederick",male,32.000000,0,0,359309,8.0500,NaN,S,1
417,1309,3,"Peter, Master. Michael J",male,7.406471,1,1,2668,22.3583,NaN,C,4

In [49]:
train['Embarked'].fillna(train['Embarked'].mode()[0], inplace = True)

In [50]:
test['Fare'].fillna(test['Fare'].median(), inplace = True)

In [62]:
train = train.drop(columns = ['PassengerId', 'Name', 'Cabin', 'Ticket'])
test = test.drop(columns = ['PassengerId', 'Name', 'Cabin', 'Ticket'])

KeyError: "['PassengerId' 'Name' 'Cabin'] not found in axis"

In [63]:
train = train.drop(columns = ['Ticket'])
test = test.drop(columns = ['Ticket'])

In [52]:
train['Sex'] = train['Sex'].map( {'female': 1, 'male': 0}).astype(int)
test['Sex'] = test['Sex'].map( {'female': 1, 'male': 0}).astype(int)

In [53]:
train

,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title
0,0,3,0,22.000000,1,0,A/5 21171,7.2500,S,1
1,1,1,1,38.000000,1,0,PC 17599,71.2833,C,3
2,1,3,1,26.000000,0,0,STON/O2. 3101282,7.9250,S,2
3,1,1,1,35.000000,1,0,113803,53.1000,S,3
4,0,3,0,35.000000,0,0,373450,8.0500,S,1
...,...,...,...,...,...,...,...,...,...,...
886,0,2,0,27.000000,0,0,211536,13.0000,S,5
887,1,1,1,19.000000,0,0,112053,30.0000,S,2
888,0,3,1,21.804054,1,2,W./C. 6607,23.4500,S,2
889,1,1,0,26.000000,0,0,111369,30.0000,C,1
890,0,3,0,32.000000,0,0,370376,7.7500,Q,1

In [54]:
test

,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,Title
0,3,0,34.500000,0,0,330911,7.8292,Q,1
1,3,1,47.000000,1,0,363272,7.0000,S,3
2,2,0,62.000000,0,0,240276,9.6875,Q,1
3,3,0,27.000000,0,0,315154,8.6625,S,1
4,3,1,22.000000,1,1,3101298,12.2875,S,3
...,...,...,...,...,...,...,...,...,...
413,3,0,32.000000,0,0,A.5. 3236,8.0500,S,1
414,1,1,39.000000,0,0,PC 17758,108.9000,C,6
415,3,0,38.500000,0,0,SOTON/O.Q. 3101262,7.2500,S,1
416,3,0,32.000000,0,0,359309,8.0500,S,1
417,3,0,7.406471,1,1,2668,22.3583,C,4

In [ ]:
train = train.drop(columns = ['FareBin'])
test = test.drop(columns = ['FareBin'])

In [55]:
train.Embarked.value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [57]:
test.Embarked.value_counts()

S    270
C    102
Q     46
Name: Embarked, dtype: int64

In [58]:
train['Embarked'] = train['Embarked'].map( {'Q': 1, 'C': 2, 'S': 3}).astype(int)
test['Embarked'] = test['Embarked'].map( {'Q': 1, 'C': 2, 'S': 3}).astype(int)

In [64]:
train.dtypes

Survived      int64
Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked      int64
Title         int64
dtype: object

In [65]:
test.dtypes

Pclass        int64
Sex           int64
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked      int64
Title         int64
dtype: object

In [ ]:
train['FareBin'] = pd.qcut(train['Fare'], 4)
test['FareBin'] = pd.qcut(test['Fare'], 4)

In [ ]:
test.info()

In [67]:
from sklearn import metrics
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression, SGDClassifier
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.ensemble import ExtraTreesClassifier, RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
from catboost import CatBoostClassifier
from xgboost import XGBClassifier

In [69]:
train_data = train.loc[:, train.columns != 'Survived']
train_labels = train[['Survived']]

In [70]:
classifier = RandomForestClassifier(n_estimators = 10)
classifier.fit(train_data, train_labels.values.ravel())
prediction = classifier.predict(test_data)
metrics.accuracy_score(test_labels, prediction)

NameError: name 'test_data' is not defined

In [ ]:
train_data = train.loc[:, train.columns != 'Survived']
train_labels = train[['Survived']]

In [ ]:
scaler = StandardScaler()
train_scaled = scaler.fit_transform(train)
test_scaled = scaler.transform(test)

In [75]:
train_data, test_data, train_labels, test_labels = train_test_split(train_data, train_labels, test_size = 0.2,)

In [76]:
classifier = CatBoostClassifier()
classifier.fit(train_data, train_labels.values.ravel())
prediction = classifier.predict(test_data)
metrics.accuracy_score(test_labels, prediction)

Learning rate set to 0.006952
0:	learn: 0.6884237	total: 1.46ms	remaining: 1.46s
1:	learn: 0.6844843	total: 2.97ms	remaining: 1.48s
2:	learn: 0.6803787	total: 4.57ms	remaining: 1.52s
3:	learn: 0.6768947	total: 6.12ms	remaining: 1.52s
4:	learn: 0.6722292	total: 7.96ms	remaining: 1.58s
5:	learn: 0.6677997	total: 9.54ms	remaining: 1.58s
6:	learn: 0.6638363	total: 11.8ms	remaining: 1.68s
7:	learn: 0.6587498	total: 14.6ms	remaining: 1.8s
8:	learn: 0.6546685	total: 16.9ms	remaining: 1.86s
9:	learn: 0.6517522	total: 19.4ms	remaining: 1.92s
10:	learn: 0.6474305	total: 22.2ms	remaining: 1.99s
11:	learn: 0.6427901	total: 24.8ms	remaining: 2.04s
12:	learn: 0.6391797	total: 27.1ms	remaining: 2.06s
13:	learn: 0.6359773	total: 28.9ms	remaining: 2.03s
14:	learn: 0.6320276	total: 31.4ms	remaining: 2.06s
15:	learn: 0.6297822	total: 32.5ms	remaining: 2s
16:	learn: 0.6254575	total: 34.8ms	remaining: 2.01s
17:	learn: 0.6222875	total: 36.7ms	remaining: 2s
18:	learn: 0.6188708	total: 38.9ms	remaining: 2.01s
19:	learn: 0.6154559	total: 41.1ms	remaining: 2.01s
20:	learn: 0.6114062	total: 43.2ms	remaining: 2.01s
21:	learn: 0.6082125	total: 44.9ms	remaining: 1.99s
22:	learn: 0.6047966	total: 46.6ms	remaining: 1.98s
23:	learn: 0.6015230	total: 48.5ms	remaining: 1.97s
24:	learn: 0.5976587	total: 50.3ms	remaining: 1.96s
25:	learn: 0.5957784	total: 50.8ms	remaining: 1.9s
26:	learn: 0.5927584	total: 52.5ms	remaining: 1.89s
27:	learn: 0.5898101	total: 53.8ms	remaining: 1.87s
28:	learn: 0.5865403	total: 55.4ms	remaining: 1.85s
29:	learn: 0.5843949	total: 56.6ms	remaining: 1.83s
30:	learn: 0.5810750	total: 58.2ms	remaining: 1.82s
31:	learn: 0.5776360	total: 59.9ms	remaining: 1.81s
32:	learn: 0.5749094	total: 61.7ms	remaining: 1.81s
33:	learn: 0.5726096	total: 62.9ms	remaining: 1.79s
34:	learn: 0.5699139	total: 64.8ms	remaining: 1.79s
35:	learn: 0.5676064	total: 66.9ms	remaining: 1.79s
36:	learn: 0.5644287	total: 69ms	remaining: 1.79s
37:	learn: 0.5617908	total: 71.1ms	remaining: 1.8s
38:	learn: 0.5591545	total: 73.2ms	remaining: 1.8s
39:	learn: 0.5563263	total: 75.3ms	remaining: 1.81s
40:	learn: 0.5529437	total: 77.5ms	remaining: 1.81s
41:	learn: 0.5499366	total: 79.6ms	remaining: 1.82s
42:	learn: 0.5473807	total: 81.7ms	remaining: 1.82s
43:	learn: 0.5449845	total: 83.5ms	remaining: 1.81s
44:	learn: 0.5434457	total: 84.9ms	remaining: 1.8s
45:	learn: 0.5412493	total: 87.4ms	remaining: 1.81s
46:	learn: 0.5387104	total: 89.4ms	remaining: 1.81s
47:	learn: 0.5364074	total: 91.1ms	remaining: 1.81s
48:	learn: 0.5335667	total: 94ms	remaining: 1.82s
49:	learn: 0.5313165	total: 96.3ms	remaining: 1.83s
50:	learn: 0.5289680	total: 97.7ms	remaining: 1.82s
51:	learn: 0.5268969	total: 99.8ms	remaining: 1.82s
52:	learn: 0.5244944	total: 102ms	remaining: 1.82s
53:	learn: 0.5221812	total: 103ms	remaining: 1.81s
54:	learn: 0.5201831	total: 105ms	remaining: 1.81s
55:	learn: 0.5182434	total: 107ms	remaining: 1.8s
56:	learn: 0.5161996	total: 109ms	remaining: 1.8s
57:	learn: 0.5140388	total: 111ms	remaining: 1.8s
58:	learn: 0.5123860	total: 111ms	remaining: 1.77s
59:	learn: 0.5103071	total: 113ms	remaining: 1.77s
60:	learn: 0.5079101	total: 115ms	remaining: 1.77s
61:	learn: 0.5061833	total: 117ms	remaining: 1.76s
62:	learn: 0.5042319	total: 118ms	remaining: 1.76s
63:	learn: 0.5017266	total: 121ms	remaining: 1.77s
64:	learn: 0.5001439	total: 122ms	remaining: 1.76s
65:	learn: 0.4990531	total: 124ms	remaining: 1.75s
66:	learn: 0.4969570	total: 126ms	remaining: 1.75s
67:	learn: 0.4956858	total: 127ms	remaining: 1.74s
68:	learn: 0.4934314	total: 129ms	remaining: 1.74s
69:	learn: 0.4910562	total: 132ms	remaining: 1.75s
70:	learn: 0.4887727	total: 133ms	remaining: 1.74s
71:	learn: 0.4867371	total: 135ms	remaining: 1.74s
72:	learn: 0.4845156	total: 137ms	remaining: 1.73s
73:	learn: 0.4823817	total: 138ms	remaining: 1.73s
74:	learn: 0.4806024	total: 141ms	remaining: 1.73s
75:	learn: 0.4788851	total: 143ms	remaining: 1.74s
76:	learn: 0.4772234	total: 145ms	remaining: 1.74s
77:	learn: 0.4754413	total: 147ms	remaining: 1.74s
78:	learn: 0.4746321	total: 148ms	remaining: 1.73s
79:	learn: 0.4727986	total: 151ms	remaining: 1.73s
80:	learn: 0.4715916	total: 152ms	remaining: 1.73s
81:	learn: 0.4704150	total: 154ms	remaining: 1.73s
82:	learn: 0.4687937	total: 156ms	remaining: 1.73s
83:	learn: 0.4671560	total: 159ms	remaining: 1.73s
84:	learn: 0.4653553	total: 161ms	remaining: 1.73s
85:	learn: 0.4635449	total: 163ms	remaining: 1.74s
86:	learn: 0.4618364	total: 166ms	remaining: 1.74s
87:	learn: 0.4609605	total: 167ms	remaining: 1.73s
88:	learn: 0.4598959	total: 168ms	remaining: 1.72s
89:	learn: 0.4592080	total: 170ms	remaining: 1.72s
90:	learn: 0.4577285	total: 172ms	remaining: 1.71s
91:	learn: 0.4561815	total: 174ms	remaining: 1.71s
92:	learn: 0.4548502	total: 176ms	remaining: 1.72s
93:	learn: 0.4534539	total: 178ms	remaining: 1.71s
94:	learn: 0.4525862	total: 179ms	remaining: 1.7s
95:	learn: 0.4509540	total: 180ms	remaining: 1.7s
96:	learn: 0.4493799	total: 182ms	remaining: 1.7s
97:	learn: 0.4480656	total: 185ms	remaining: 1.7s
98:	learn: 0.4466411	total: 186ms	remaining: 1.7s
99:	learn: 0.4451029	total: 187ms	remaining: 1.69s
100:	learn: 0.4442986	total: 188ms	remaining: 1.68s
101:	learn: 0.4426196	total: 190ms	remaining: 1.68s
102:	learn: 0.4415711	total: 192ms	remaining: 1.68s
103:	learn: 0.4405687	total: 194ms	remaining: 1.67s
104:	learn: 0.4389095	total: 196ms	remaining: 1.67s
105:	learn: 0.4384507	total: 197ms	remaining: 1.66s
106:	learn: 0.4374198	total: 198ms	remaining: 1.65s
107:	learn: 0.4364978	total: 200ms	remaining: 1.65s
108:	learn: 0.4358240	total: 201ms	remaining: 1.64s
109:	learn: 0.4347665	total: 202ms	remaining: 1.63s
110:	learn: 0.4334471	total: 203ms	remaining: 1.62s
111:	learn: 0.4322747	total: 204ms	remaining: 1.62s
112:	learn: 0.4311368	total: 206ms	remaining: 1.61s
113:	learn: 0.4302012	total: 206ms	remaining: 1.6s
114:	learn: 0.4293748	total: 207ms	remaining: 1.59s
115:	learn: 0.4283480	total: 209ms	remaining: 1.59s
116:	learn: 0.4275299	total: 210ms	remaining: 1.59s
117:	learn: 0.4262059	total: 212ms	remaining: 1.58s
118:	learn: 0.4251706	total: 214ms	remaining: 1.58s
119:	learn: 0.4241945	total: 216ms	remaining: 1.58s
120:	learn: 0.4239592	total: 217ms	remaining: 1.58s
121:	learn: 0.4228859	total: 220ms	remaining: 1.58s
122:	learn: 0.4216508	total: 222ms	remaining: 1.58s
123:	learn: 0.4210913	total: 223ms	remaining: 1.57s
124:	learn: 0.4199452	total: 224ms	remaining: 1.57s
125:	learn: 0.4194908	total: 225ms	remaining: 1.56s
126:	learn: 0.4181344	total: 228ms	remaining: 1.56s
127:	learn: 0.4168257	total: 230ms	remaining: 1.56s
128:	learn: 0.4156163	total: 232ms	remaining: 1.56s
129:	learn: 0.4147908	total: 234ms	remaining: 1.56s
130:	learn: 0.4140693	total: 236ms	remaining: 1.56s
131:	learn: 0.4132940	total: 238ms	remaining: 1.56s
132:	learn: 0.4121664	total: 240ms	remaining: 1.56s
133:	learn: 0.4114257	total: 242ms	remaining: 1.56s
134:	learn: 0.4107340	total: 244ms	remaining: 1.56s
135:	learn: 0.4099846	total: 246ms	remaining: 1.56s
136:	learn: 0.4090575	total: 248ms	remaining: 1.56s
137:	learn: 0.4084871	total: 250ms	remaining: 1.56s
138:	learn: 0.4078414	total: 252ms	remaining: 1.56s
139:	learn: 0.4072560	total: 253ms	remaining: 1.56s
140:	learn: 0.4063198	total: 255ms	remaining: 1.55s
141:	learn: 0.4052795	total: 257ms	remaining: 1.55s
142:	learn: 0.4045350	total: 259ms	remaining: 1.55s
143:	learn: 0.4036280	total: 261ms	remaining: 1.55s
144:	learn: 0.4032906	total: 262ms	remaining: 1.54s
145:	learn: 0.4024444	total: 264ms	remaining: 1.54s
146:	learn: 0.4021173	total: 265ms	remaining: 1.54s
147:	learn: 0.4012120	total: 267ms	remaining: 1.54s
148:	learn: 0.4003962	total: 269ms	remaining: 1.54s
149:	learn: 0.3996374	total: 271ms	remaining: 1.53s
150:	learn: 0.3989221	total: 273ms	remaining: 1.53s
151:	learn: 0.3980833	total: 273ms	remaining: 1.52s
152:	learn: 0.3973031	total: 274ms	remaining: 1.51s
153:	learn: 0.3967833	total: 274ms	remaining: 1.51s
154:	learn: 0.3964162	total: 275ms	remaining: 1.5s
155:	learn: 0.3957857	total: 276ms	remaining: 1.49s
156:	learn: 0.3950654	total: 276ms	remaining: 1.48s
157:	learn: 0.3948728	total: 276ms	remaining: 1.47s
158:	learn: 0.3939525	total: 277ms	remaining: 1.47s
159:	learn: 0.3933108	total: 278ms	remaining: 1.46s
160:	learn: 0.3927631	total: 278ms	remaining: 1.45s
161:	learn: 0.3919601	total: 279ms	remaining: 1.44s
162:	learn: 0.3912035	total: 279ms	remaining: 1.43s
163:	learn: 0.3906728	total: 280ms	remaining: 1.43s
164:	learn: 0.3903413	total: 280ms	remaining: 1.42s
165:	learn: 0.3896435	total: 281ms	remaining: 1.41s
166:	learn: 0.3893302	total: 281ms	remaining: 1.4s
167:	learn: 0.3886168	total: 282ms	remaining: 1.4s
168:	learn: 0.3880158	total: 282ms	remaining: 1.39s
169:	learn: 0.3870492	total: 283ms	remaining: 1.38s
170:	learn: 0.3865405	total: 283ms	remaining: 1.37s
171:	learn: 0.3858970	total: 284ms	remaining: 1.36s
172:	learn: 0.3853515	total: 284ms	remaining: 1.36s
173:	learn: 0.3848303	total: 285ms	remaining: 1.35s
174:	learn: 0.3842858	total: 285ms	remaining: 1.34s
175:	learn: 0.3835901	total: 287ms	remaining: 1.34s
176:	learn: 0.3828165	total: 289ms	remaining: 1.34s
177:	learn: 0.3822657	total: 289ms	remaining: 1.33s
178:	learn: 0.3817972	total: 290ms	remaining: 1.33s
179:	learn: 0.3816614	total: 290ms	remaining: 1.32s
180:	learn: 0.3810471	total: 290ms	remaining: 1.31s
181:	learn: 0.3802632	total: 291ms	remaining: 1.31s
182:	learn: 0.3801842	total: 291ms	remaining: 1.3s
183:	learn: 0.3791468	total: 292ms	remaining: 1.29s
184:	learn: 0.3786657	total: 292ms	remaining: 1.29s
185:	learn: 0.3780161	total: 293ms	remaining: 1.28s
186:	learn: 0.3774132	total: 293ms	remaining: 1.27s
187:	learn: 0.3771444	total: 293ms	remaining: 1.27s
188:	learn: 0.3765487	total: 294ms	remaining: 1.26s
189:	learn: 0.3758744	total: 294ms	remaining: 1.25s
190:	learn: 0.3751578	total: 295ms	remaining: 1.25s
191:	learn: 0.3746726	total: 295ms	remaining: 1.24s
192:	learn: 0.3741387	total: 296ms	remaining: 1.24s
193:	learn: 0.3737000	total: 296ms	remaining: 1.23s
194:	learn: 0.3734147	total: 297ms	remaining: 1.22s
195:	learn: 0.3729400	total: 297ms	remaining: 1.22s
196:	learn: 0.3727104	total: 297ms	remaining: 1.21s
197:	learn: 0.3720608	total: 298ms	remaining: 1.21s
198:	learn: 0.3712220	total: 298ms	remaining: 1.2s
199:	learn: 0.3705580	total: 299ms	remaining: 1.2s
200:	learn: 0.3703048	total: 299ms	remaining: 1.19s
201:	learn: 0.3696282	total: 300ms	remaining: 1.18s
202:	learn: 0.3691639	total: 300ms	remaining: 1.18s
203:	learn: 0.3687794	total: 301ms	remaining: 1.17s
204:	learn: 0.3682409	total: 301ms	remaining: 1.17s
205:	learn: 0.3677007	total: 302ms	remaining: 1.16s
206:	learn: 0.3670949	total: 303ms	remaining: 1.16s
207:	learn: 0.3664449	total: 303ms	remaining: 1.15s
208:	learn: 0.3659588	total: 304ms	remaining: 1.15s
209:	learn: 0.3655832	total: 304ms	remaining: 1.14s
210:	learn: 0.3650650	total: 305ms	remaining: 1.14s
211:	learn: 0.3643198	total: 305ms	remaining: 1.13s
212:	learn: 0.3639078	total: 306ms	remaining: 1.13s
213:	learn: 0.3636647	total: 306ms	remaining: 1.12s
214:	learn: 0.3631703	total: 307ms	remaining: 1.12s
215:	learn: 0.3627017	total: 307ms	remaining: 1.11s
216:	learn: 0.3622584	total: 308ms	remaining: 1.11s
217:	learn: 0.3620146	total: 308ms	remaining: 1.1s
218:	learn: 0.3616104	total: 309ms	remaining: 1.1s
219:	learn: 0.3609823	total: 309ms	remaining: 1.09s
220:	learn: 0.3606858	total: 310ms	remaining: 1.09s
221:	learn: 0.3605713	total: 310ms	remaining: 1.08s
222:	learn: 0.3600645	total: 310ms	remaining: 1.08s
223:	learn: 0.3596020	total: 311ms	remaining: 1.08s
224:	learn: 0.3593355	total: 311ms	remaining: 1.07s
225:	learn: 0.3588453	total: 312ms	remaining: 1.07s
226:	learn: 0.3584542	total: 312ms	remaining: 1.06s
227:	learn: 0.3580785	total: 313ms	remaining: 1.06s
228:	learn: 0.3577543	total: 313ms	remaining: 1.05s
229:	learn: 0.3570559	total: 314ms	remaining: 1.05s
230:	learn: 0.3563313	total: 314ms	remaining: 1.04s
231:	learn: 0.3558140	total: 315ms	remaining: 1.04s
232:	learn: 0.3553853	total: 315ms	remaining: 1.04s
233:	learn: 0.3549934	total: 316ms	remaining: 1.03s
234:	learn: 0.3544670	total: 316ms	remaining: 1.03s
235:	learn: 0.3538573	total: 317ms	remaining: 1.02s
236:	learn: 0.3535767	total: 317ms	remaining: 1.02s
237:	learn: 0.3535185	total: 317ms	remaining: 1.01s
238:	learn: 0.3530347	total: 318ms	remaining: 1.01s
239:	learn: 0.3527378	total: 318ms	remaining: 1.01s
240:	learn: 0.3521823	total: 319ms	remaining: 1s
241:	learn: 0.3517901	total: 319ms	remaining: 1000ms
242:	learn: 0.3514278	total: 320ms	remaining: 996ms
243:	learn: 0.3510312	total: 320ms	remaining: 992ms
244:	learn: 0.3507530	total: 321ms	remaining: 988ms
245:	learn: 0.3504082	total: 321ms	remaining: 984ms
246:	learn: 0.3502243	total: 322ms	remaining: 980ms
247:	learn: 0.3497235	total: 322ms	remaining: 976ms
248:	learn: 0.3493895	total: 322ms	remaining: 973ms
249:	learn: 0.3490957	total: 323ms	remaining: 969ms
250:	learn: 0.3483298	total: 323ms	remaining: 965ms
251:	learn: 0.3479267	total: 324ms	remaining: 962ms
252:	learn: 0.3474579	total: 324ms	remaining: 958ms
253:	learn: 0.3469757	total: 325ms	remaining: 954ms
254:	learn: 0.3464288	total: 325ms	remaining: 951ms
255:	learn: 0.3461711	total: 326ms	remaining: 947ms
256:	learn: 0.3458733	total: 326ms	remaining: 943ms
257:	learn: 0.3453932	total: 327ms	remaining: 940ms
258:	learn: 0.3450382	total: 327ms	remaining: 936ms
259:	learn: 0.3446154	total: 328ms	remaining: 933ms
260:	learn: 0.3443837	total: 328ms	remaining: 930ms
261:	learn: 0.3439462	total: 329ms	remaining: 926ms
262:	learn: 0.3435792	total: 329ms	remaining: 923ms
263:	learn: 0.3430316	total: 330ms	remaining: 919ms
264:	learn: 0.3430096	total: 330ms	remaining: 915ms
265:	learn: 0.3425824	total: 330ms	remaining: 912ms
266:	learn: 0.3423245	total: 331ms	remaining: 909ms
267:	learn: 0.3419001	total: 331ms	remaining: 905ms
268:	learn: 0.3416613	total: 332ms	remaining: 902ms
269:	learn: 0.3415659	total: 332ms	remaining: 899ms
270:	learn: 0.3410996	total: 333ms	remaining: 895ms
271:	learn: 0.3409611	total: 333ms	remaining: 892ms
272:	learn: 0.3406473	total: 334ms	remaining: 889ms
273:	learn: 0.3402804	total: 334ms	remaining: 886ms
274:	learn: 0.3398572	total: 335ms	remaining: 882ms
275:	learn: 0.3396686	total: 335ms	remaining: 879ms
276:	learn: 0.3392096	total: 337ms	remaining: 879ms
277:	learn: 0.3389128	total: 337ms	remaining: 876ms
278:	learn: 0.3386230	total: 338ms	remaining: 873ms
279:	learn: 0.3383628	total: 340ms	remaining: 873ms
280:	learn: 0.3380233	total: 341ms	remaining: 873ms
281:	learn: 0.3375961	total: 342ms	remaining: 870ms
282:	learn: 0.3372023	total: 344ms	remaining: 870ms
283:	learn: 0.3369035	total: 345ms	remaining: 869ms
284:	learn: 0.3365694	total: 346ms	remaining: 869ms
285:	learn: 0.3363287	total: 347ms	remaining: 868ms
286:	learn: 0.3362445	total: 348ms	remaining: 865ms
287:	learn: 0.3358388	total: 349ms	remaining: 863ms
288:	learn: 0.3355238	total: 351ms	remaining: 862ms
289:	learn: 0.3351294	total: 352ms	remaining: 862ms
290:	learn: 0.3350992	total: 353ms	remaining: 859ms
291:	learn: 0.3349217	total: 354ms	remaining: 857ms
292:	learn: 0.3346413	total: 355ms	remaining: 856ms
293:	learn: 0.3343895	total: 356ms	remaining: 855ms
294:	learn: 0.3341160	total: 358ms	remaining: 856ms
295:	learn: 0.3339320	total: 359ms	remaining: 853ms
296:	learn: 0.3334909	total: 361ms	remaining: 854ms
297:	learn: 0.3331845	total: 362ms	remaining: 853ms
298:	learn: 0.3328903	total: 364ms	remaining: 854ms
299:	learn: 0.3326782	total: 366ms	remaining: 853ms
300:	learn: 0.3322679	total: 366ms	remaining: 850ms
301:	learn: 0.3319011	total: 367ms	remaining: 847ms
302:	learn: 0.3316367	total: 367ms	remaining: 844ms
303:	learn: 0.3315846	total: 367ms	remaining: 841ms
304:	learn: 0.3312902	total: 368ms	remaining: 838ms
305:	learn: 0.3308814	total: 368ms	remaining: 835ms
306:	learn: 0.3305903	total: 369ms	remaining: 833ms
307:	learn: 0.3301707	total: 369ms	remaining: 830ms
308:	learn: 0.3298289	total: 370ms	remaining: 827ms
309:	learn: 0.3295469	total: 370ms	remaining: 824ms
310:	learn: 0.3294986	total: 371ms	remaining: 821ms
311:	learn: 0.3291797	total: 371ms	remaining: 818ms
312:	learn: 0.3289516	total: 372ms	remaining: 815ms
313:	learn: 0.3288286	total: 372ms	remaining: 813ms
314:	learn: 0.3285085	total: 373ms	remaining: 812ms
315:	learn: 0.3284749	total: 374ms	remaining: 809ms
316:	learn: 0.3281479	total: 374ms	remaining: 807ms
317:	learn: 0.3277764	total: 375ms	remaining: 804ms
318:	learn: 0.3275065	total: 375ms	remaining: 801ms
319:	learn: 0.3273123	total: 376ms	remaining: 799ms
320:	learn: 0.3268834	total: 376ms	remaining: 796ms
321:	learn: 0.3266432	total: 377ms	remaining: 794ms
322:	learn: 0.3264969	total: 377ms	remaining: 791ms
323:	learn: 0.3262027	total: 378ms	remaining: 788ms
324:	learn: 0.3259541	total: 378ms	remaining: 786ms
325:	learn: 0.3257388	total: 379ms	remaining: 783ms
326:	learn: 0.3254183	total: 379ms	remaining: 781ms
327:	learn: 0.3250379	total: 380ms	remaining: 778ms
328:	learn: 0.3249271	total: 380ms	remaining: 776ms
329:	learn: 0.3245471	total: 381ms	remaining: 773ms
330:	learn: 0.3242759	total: 382ms	remaining: 772ms
331:	learn: 0.3240656	total: 384ms	remaining: 773ms
332:	learn: 0.3237237	total: 386ms	remaining: 773ms
333:	learn: 0.3236665	total: 387ms	remaining: 772ms
334:	learn: 0.3234040	total: 389ms	remaining: 773ms
335:	learn: 0.3231215	total: 391ms	remaining: 773ms
336:	learn: 0.3229252	total: 393ms	remaining: 772ms
337:	learn: 0.3227711	total: 395ms	remaining: 773ms
338:	learn: 0.3225364	total: 397ms	remaining: 773ms
339:	learn: 0.3222658	total: 398ms	remaining: 773ms
340:	learn: 0.3219409	total: 401ms	remaining: 774ms
341:	learn: 0.3217511	total: 402ms	remaining: 774ms
342:	learn: 0.3214667	total: 403ms	remaining: 772ms
343:	learn: 0.3213306	total: 404ms	remaining: 771ms
344:	learn: 0.3209418	total: 406ms	remaining: 770ms
345:	learn: 0.3205595	total: 407ms	remaining: 770ms
346:	learn: 0.3204934	total: 410ms	remaining: 772ms
347:	learn: 0.3202684	total: 411ms	remaining: 770ms
348:	learn: 0.3200171	total: 412ms	remaining: 769ms
349:	learn: 0.3196516	total: 414ms	remaining: 768ms
350:	learn: 0.3194778	total: 416ms	remaining: 769ms
351:	learn: 0.3193652	total: 416ms	remaining: 766ms
352:	learn: 0.3191805	total: 418ms	remaining: 765ms
353:	learn: 0.3188086	total: 418ms	remaining: 763ms
354:	learn: 0.3184608	total: 419ms	remaining: 761ms
355:	learn: 0.3181737	total: 420ms	remaining: 759ms
356:	learn: 0.3179510	total: 421ms	remaining: 758ms
357:	learn: 0.3177850	total: 422ms	remaining: 757ms
358:	learn: 0.3174561	total: 424ms	remaining: 757ms
359:	learn: 0.3170698	total: 426ms	remaining: 757ms
360:	learn: 0.3168109	total: 427ms	remaining: 756ms
361:	learn: 0.3166387	total: 429ms	remaining: 755ms
362:	learn: 0.3164144	total: 431ms	remaining: 756ms
363:	learn: 0.3160705	total: 431ms	remaining: 754ms
364:	learn: 0.3158359	total: 433ms	remaining: 754ms
365:	learn: 0.3156364	total: 435ms	remaining: 753ms
366:	learn: 0.3153631	total: 436ms	remaining: 753ms
367:	learn: 0.3149907	total: 437ms	remaining: 751ms
368:	learn: 0.3147544	total: 438ms	remaining: 750ms
369:	learn: 0.3145632	total: 440ms	remaining: 749ms
370:	learn: 0.3142085	total: 441ms	remaining: 747ms
371:	learn: 0.3139730	total: 441ms	remaining: 744ms
372:	learn: 0.3136841	total: 442ms	remaining: 743ms
373:	learn: 0.3136733	total: 442ms	remaining: 740ms
374:	learn: 0.3135291	total: 443ms	remaining: 738ms
375:	learn: 0.3133858	total: 444ms	remaining: 737ms
376:	learn: 0.3130819	total: 445ms	remaining: 735ms
377:	learn: 0.3127850	total: 445ms	remaining: 732ms
378:	learn: 0.3124409	total: 445ms	remaining: 730ms
379:	learn: 0.3120842	total: 446ms	remaining: 728ms
380:	learn: 0.3119683	total: 446ms	remaining: 725ms
381:	learn: 0.3118138	total: 447ms	remaining: 723ms
382:	learn: 0.3114837	total: 447ms	remaining: 721ms
383:	learn: 0.3111430	total: 448ms	remaining: 718ms
384:	learn: 0.3109247	total: 448ms	remaining: 716ms

0.87

In [ ]:
pred = classifier.predict(test)

In [ ]:
pred

In [ ]:
subm = pd.read_csv('subm.csv')

In [ ]:
subm['Survived'] = pred

In [ ]:
subm.to_csv('subm3.csv', index=False)

In [ ]:
pd.qcut([1, 7], 4)

In [ ]:
test.info()

In [ ]:
train.info()

In [ ]:
train['FareBin'] = pd.qcut(train['Fare'], 4)

In [ ]:
train.FareBin.value_counts()

In [ ]:
train.Embarked.value_counts()

In [ ]:
train[train.Cabin == 'B28']

In [ ]:
test.Title.value_counts()

In [ ]:
pd.crosstab(train['Title'], train.Sex)

In [ ]:
train[train['Sex'] == 'male']['Title']

In [ ]:
pd.crosstab(test['Title'], test.Sex)

In [ ]:
# для обращения master видим, что для некоторых неизвестен возраст
# но так обращаются только к мальчикам до 18 лет, поэтому заполним все неизвестные значения возраста средним значением известных

for i in range(len(train)):
    if train['Title'][i] == 'Master':
        if pd.isnull(train.Age[i]):
            train['Age'][i] = train[train.Title == 'Master']['Age'].mean()

In [ ]:
for i in range(len(train)):
    if train['Title'][i] == 'Mrs':
        if pd.isnull(train.Age[i]):
            train['Age'][i] = train[train.Title == 'Mrs']['Age'].mean()

In [ ]:
train[pd.isnull(train.Age)][:50]

In [ ]:
train[train.Title == 'Miss']['Age'].mean()

In [ ]:
train.info()

In [ ]:
s = []
for i in train.Name:
    if 'Jonkheer.' in i:
        s.append(i)
print(s)

In [ ]:
train

In [ ]:
type(train.Age[42])

In [ ]:
train[train.Title == 'Dr']

In [ ]:
train[train.Title == 'Miss'][:50]

In [ ]:
train[train.Title == 'Master']['Age'] = train[train.Title == 'Master']['Age'].fillna(train[train.Title == 'Master']['Age'].mean())

In [ ]:
for i in range(len(train)):
    if train['Title'][i] == 'Master':
        if pd.isnull(train.Age[i]):
            train['Age'][i] = train[train.Title == 'Master']['Age'].mean()

In [ ]:
pd.isnull(train.Age[198])